div > ul > li > span {
  font-size: 18px;
}
ul {
  margin: 0 0 0 15px;
  padding: 0;

  li {
    padding: 8px 5px 0 35px;
    list-style-type: none;
    position: relative;
    line-height: 25px;

    &.open, &.close {
      padding-left: 35px;
      background: url('/assets/images/open.png') no-repeat 5px 8px;
      background-size: 25px 25px;
    }

    &.close {
      background-image: url('/assets/images/close.png');

      ul {
        display: none;
      }
    }

    span {
      padding-right: 15px;
      font-weight: bold;
    }

    button {
      border: none;
      height: 25px;
      width: 25px;
      padding: 0;
      background: none;
      vertical-align: top;

      img {
        width: 100%;
      }
    }
  }
}